player-connection-mode=Listen
player-connection-guid=912480801
player-connection-debug=0
player-connection-project-name=Biloomer v0.0.31
player-connection-ip=169.254.90.89
player-connection-ip=169.254.27.151
player-connection-ip=192.168.2.102
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=180de783a97d4a23a9dfc9e629b8ade8
